<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<div style="margin-left: 35%">
    <div style="width: 50%">
        <h1>Student Detail</h1>
        <a class="btn btn-primary" th:href="@{'/'}">Back</a>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" th:text="'Lớp ' + ${clazz.name}"></h4>
            </div>
        </div>
        <table>
            <tr>
                <th>Rollnumber</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
            <tr th:each="student: ${clazz.getStudentSet()}">
                <td th:text="${student.rollNumber}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.email}"></td>
            </tr>
        </table>
        <form th:action="@{/clazz/addStudent}" method="post" style="margin-top: 20px">
            <input type="hidden" name="clazzId" th:value="${clazz.clazzId}"/>
            <div th:each="student: ${studentList}">
                <input type="checkbox" name="studentIds" th:checked="${clazz.getStudentSet().contains(student)}" th:value="${student.studentId}" th:text="${student.name}" />
            </div>
            <button class="btn btn-primary btn-submit" type="submit" style="margin-top: 20px">submit</button>
        </form>
    </div>
</div>
</body>
</html>